$header-height: 36px;
$toolbar-height: 34px;
$formula-height: 40px;
$row-height:28px;
$info-title-width: 40px;
$ceil-column-width:120px;

$border-color: #c4b9b9;
$primary-color: #58a8e3;


$dashboard-header: 80px;