$header-height: 36px;
$toolbar-height: 34px;
$formula-height: 40px;
$row-height:28px;
$info-title-width: 40px;
$ceil-column-width:120px;
$border-color: #c4b9b9;
//$border-color: #d5dddd;


$dashboard-header: 80px;